.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app-container h1 {
    font-size: 45px;
    letter-spacing: 1px;
}

.highlight {
    color: #ae00ff;
    font-weight: bold;
}